name: Publisher Build & Publish to feedz

on:
  push:
    tags: ["publisher-v*.*.*"]

jobs:
  release:
    name: Build & Release
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./publisher
    env:
      DOTNET_VERSION: 10.0
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
    steps:
      - name: Version
        id: version
        run: |
          VERSION=${GITHUB_REF#refs/tags/publisher-v}
          if ! [[ ${VERSION} =~ ^[0-9]+\.[0-9]+\.[0-9]+(-[a-zA-Z0-9\.]+)?$ ]]
          then
            echo 1>&2 "Invalid version: ${VERSION}"
            exit 1
          fi
          echo "version=${VERSION}" >> $GITHUB_OUTPUT
        working-directory: .
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}
      - name: Restore
        run: dotnet restore
      - name: Build
        env:
          BUILD_VERSION: ${{ steps.version.outputs.version }}
        run: dotnet build --no-restore -c Release
      - name: Unit Tests
        run: |
          dotnet test \
            --project ./test/LeanCode.Pipe.Tests/LeanCode.Pipe.Tests.csproj \
            --no-build \
            -c Release
          dotnet test \
            --project ./test/Funnel.Tests/LeanCode.Pipe.Funnel.Tests/LeanCode.Pipe.Funnel.Tests.csproj \
            --no-build \
            -c Release
          dotnet test \
            --project ./test/LeanCode.Pipe.TestClient.Tests/LeanCode.Pipe.TestClient.Tests.csproj \
            --no-build \
            -c Release
      - name: Integration test
        run: >
          dotnet test
          --project ./test/LeanCode.Pipe.IntegrationTests/LeanCode.Pipe.IntegrationTests.csproj
          --no-build
          -c Release
        env:
          EnableFunnel: 'false'
      - name: Integration test with Funnel
        run: >
          dotnet test
          --project ./test/LeanCode.Pipe.IntegrationTests/LeanCode.Pipe.IntegrationTests.csproj
          --no-build
          -c Release
        env:
          EnableFunnel: 'true'
      - name: Pack NuGet packages
        env:
          BUILD_VERSION: ${{ steps.version.outputs.version }}
        run: dotnet pack --no-build -c Release
      - name: Publish to Feedz
        run: |
          dotnet nuget push \
            "src/LeanCode.Pipe/bin/Release/LeanCode.Pipe.${BUILD_VERSION}.nupkg" \
            "src/Funnel/Core/bin/Release/LeanCode.Pipe.Funnel.Core.${BUILD_VERSION}.nupkg" \
            "src/Funnel/Instance/bin/Release/LeanCode.Pipe.Funnel.Instance.${BUILD_VERSION}.nupkg" \
            "src/Funnel/Publishing/bin/Release/LeanCode.Pipe.Funnel.Publishing.${BUILD_VERSION}.nupkg" \
            "src/LeanCode.Pipe.TestClient/bin/Release/LeanCode.Pipe.TestClient.${BUILD_VERSION}.nupkg" \
            -k "$FEEDZ_API_KEY" \
            -s 'https://f.feedz.io/leancode/public/nuget/index.json' \
            -n
        env:
          BUILD_VERSION: ${{ steps.version.outputs.version }}
          FEEDZ_API_KEY: ${{ secrets.FEEDZ_API_KEY }}
