name: Publisher Build & Test

on:
  push:
    branches: [ main ]
    tags-ignore: [ "*-v*" ]
    paths:
      - "publisher/**"
  pull_request:
    branches: [ main ]
    paths:
      - "publisher/**"

jobs:
  ci:
    name: Build & Test
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./publisher
    env:
      DOTNET_VERSION: 10.0
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}
      - name: Tool Restore
        run: dotnet tool restore
      - name: Restore
        run: dotnet restore
      - name: Check formatting
        run: dotnet csharpier check .
      - name: Build
        run: dotnet build --no-restore
      - name: Test Publisher
        run: >
          dotnet test
          ./test/LeanCode.Pipe.Tests/LeanCode.Pipe.Tests.csproj
          --no-build
          --collect "XPlat Code Coverage"
          --settings test/coverlet.runsettings
          --logger trx
          --results-directory TestResults
      - name: Test Test Client
        run: >
          dotnet test
          ./test/LeanCode.Pipe.TestClient.Tests/LeanCode.Pipe.TestClient.Tests.csproj
          --no-build
          --collect "XPlat Code Coverage"
          --settings test/coverlet.runsettings
          --logger trx
          --results-directory TestResults
      - name: Integration test
        run: >
          dotnet test
          ./test/LeanCode.Pipe.IntegrationTests/LeanCode.Pipe.IntegrationTests.csproj
          --no-build
          --collect "XPlat Code Coverage"
          --settings test/coverlet.runsettings
          --logger "trx;LogFileName=LeanCode.Pipe.IntegrationTests_NoFunnel.trx"
          --results-directory TestResults
          -e EnableFunnel=false
      - name: Integration test with Funnel
        run: >
          dotnet test
          ./test/LeanCode.Pipe.IntegrationTests/LeanCode.Pipe.IntegrationTests.csproj
          --no-build
          --collect "XPlat Code Coverage"
          --settings test/coverlet.runsettings
          --logger "trx;LogFileName=LeanCode.Pipe.IntegrationTests_Funnel.trx"
          --results-directory TestResults
          -e EnableFunnel=true
      - name: Upload coverage to Codecov
        if: always()
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      - name: Upload Test Results
        if: always()
        uses: actions/upload-artifact@v5
        with:
          name: publisher-test-results
          path: publisher/TestResults/*.trx

  publish-test-results:
    name: Publish Tests Results
    needs: ci
    runs-on: ubuntu-latest
    permissions:
      contents: read
      checks: write
      pull-requests: write
    if: always()
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v6
        with:
          path: artifacts
      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        with:
          check_name: "Publisher Unit Test Results"
          files: "artifacts/**/*.trx"
